@font-face {
  font-family: "Vollkorn Regular";
  src: url("/static/fonts/vollkorn/Vollkorn-Regular.ttf"); }

@font-face {
  font-family: "Vollkorn Bold";
  src: url("/static/fonts/vollkorn/Vollkorn-Bold.ttf"); }

@font-face {
  font-family: "Vollkorn Italic";
  src: url("/static/fonts/vollkorn/Vollkorn-Italic.ttf"); }

@font-face {
  font-family: "Vollkorn BoldItalic";
  src: url("/static/fonts/vollkorn/Vollkorn-BoldItalic.ttf"); }

@font-face {
  font-family: "Orbitron Medium";
  src: url("/static/fonts/orbitron/orbitron-medium.otf"); }

@font-face {
  font-family: "Orbitron Light";
  src: url("/static/fonts/orbitron/orbitron-light.otf"); }

@font-face {
  font-family: "Orbitron Bold";
  src: url("/static/fonts/orbitron/orbitron-bold.otf"); }

@font-face {
  font-family: "Orbitron Black";
  src: url("/static/fonts/orbitron/orbitron-black.otf"); }

body {
  font-family: sans-serif;
  font-weight: 100;
  background-color: #00141E;
  color: #99C2D8;
  max-width: 210mm; }

body, body > *, article > * {
  margin: auto; }

p, pre {
  margin: 1em auto;
  text-align: justify;
  text-justify: inter-word; }

p, img, h1, h2, h3, h4, h5, article {
  max-width: 80ch; }

pre {
  display: block;
  max-width: 80ch;
  overflow: scroll; }

ul, ol {
  max-width: 80ch; }

ul > li {
  list-style-type: square; }

ol > li {
  list-style-type: lower-greek; }

li > p {
  display: inline; }

details, header > h1 {
  margin-bottom: 1em; }

header > h1 {
  font-family: "Orbitron Light";
  font-size: 2em; }

details, details > * {
  display: block; }

header, footer, details, details > * {
  text-align: center; }

a {
  color: #D6F6AA;
  text-decoration: none; }

a:visited {
  color: #d6f6aa; }

header a {
  text-decoration: none;
  color: #99C2D8; }

header a:visited {
  color: #99C2D8; }

h1, h2, h3, h4, h5 {
  font-face: "Orbitron Medium";
  text-align: center;
  font-weight: 300;
  margin: 3em auto 1em auto; }

footer {
  clear: both;
  margin-top: 2em;
  border-top: 1px dotted;
  padding: 1em 0; }

fieldset {
  border: 0.5mm dashed #034060; }

fieldset > p {
  margin: .5em auto;
  padding: .5em;
  float: left; }

label {
  margin: .2em;
  display: block; }

input, textarea {
  display: block;
  color: #99C2D8;
  background-color: #00141E;
  border: none;
  border-bottom: 0.5mm solid #034060;
  min-width: 100%; }

textarea {
  border: 0.5mm solid #034060;
  width: 80ch;
  height: 40ch;
  display: block-inline;
  clear: both; }

button {
  clear: both;
  display: block;
  margin: 1em auto;
  color: #99C2D8;
  background-color: #034060;
  border: 0.5mm solid #034060; }
