@font-face
  font-family: "Orbitron Medium"
  src: ulr("#{$font-url}/orbitron/Orbitron Medium.ttf")

@font-face
  font-family: "Orbitron Light"
  src: ulr("#{$font-url}/orbitron/Orbitron Light.ttf")

@font-face
  font-family: "Orbitron Bold"
  src: ulr("#{$font-url}/orbitron/Orbitron Bold.ttf")

@font-face
  font-family: "Orbitron Black"
  src: ulr("#{$font-url}/orbitron/Orbitron Black.ttf")
