<article>
<h1>{{title}}</h1>
<details>
	<summary>{{abstract}}</summary>
	<p>Topics: {{topics}}</p>
	<a href="" rel="author">{{author_name}}</a>
	<time datetime="{{date}}">{{date_human}}</time>
</details>
{{body}}
</article>