<article>
<h1>{{title}}</h1>
<details>
	<summary>{{abstract}}</summary>
	<a href="" rel="author">{{author_name}}</a>
	<time datetime="{{date}}">{{date_human}}</time>
	<span>Series: {{series}}</span>
	<span>Topics: {{topics}}</span>
	<span>Keywords: {{keywords}}</span>
</details>
{{body}}
</article>